@model CinemaForYou.Models.MovieCreatorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Modification</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.Id" />
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Description" class="control-label"></label>
                <input asp-for="Movie.Description" class="form-control" />
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Duration" class="control-label"></label>
                <input asp-for="Movie.Duration" class="form-control" />
                <span asp-validation-for="Movie.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.PegiId" class="control-label"></label>
                <select asp-for="Movie.PegiId" class="form-control" asp-items="@Model.Pegis"></select>
                <span asp-validation-for="Movie.PegiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.MovieTypeId" class="control-label"></label>
                <select asp-for="Movie.MovieTypeId" class="form-control" asp-items="@Model.Types"></select>
                <span asp-validation-for="Movie.MovieTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.ImageFile" class="control-label"></label>
                <br/>
                <input asp-for="Image.ImageFile" class="form-control-file" accept="image/*" />
                <span asp-validation-for="Image.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
